
  .main-container {
    max-width: 1200px !important;
    margin: 0 auto;
  }
  
  @media (max-width:1200px) and (min-width:760px) {
    #navbar > ul > li > a {
       font-size: 0;
       display:inline-block;
    }
    .fa { font-size: initial; }
    
    .plotly.html-widget {
       max-width: 100%;
       height: 200px;
    }
  }

  a[href^="http://"]:after,
  a[href^="https://"]:after {
    content: url(https://images.andbiodiversity.info/fa_external.png);
    margin: 0 0 0 5px;
  }

  .collapse a::after,
  .logo_container a::after, 
   #figs-gallery a::after,
  .cites a::after,
  .humor-column a::after{
    content: '';
    margin: 0;
  }

  .logo {
    float: right;
    margin: -50px 0 0 0;
  }
  .logo img {
     margin: 5px;
  }
  
  .nav-pills {
     font-size: 14px;
  }
  .tabset {
     width: 80%;
  }

  .scibody {
     width: 100%;
     height: 100%;
     display: block;
     text-align: left;
     justify-content: left;
     z-index: -1;
  }

  .scibody img {
     padding: 10px;
     width: 100px;

  }
  .scibody img:hover {
      opacity: 0.8
  }

  .cards {
     width: 100%;
     height: 100%;
     margin: 0 auto;
     display: inline-flex;
     text-align: center;
     justify-content: center;
  }
  .card {
     width: 15%;
     min-height: 220px;
     display: inline-block;
     font-size: 16px;
     margin: 0 5px;
     overflow: hidden;
  }
  .pagecard {
     border: 1px rgba(128,181,51) solid;
     border-radius: 30px;
  }
  .extcard {
     border: 1px #A8A8A8 solid;
     border-radius: 30px;
  }

  .card a:link, 
  .card a:visited, 
  .card a:hover, 
  .card a:active {
     color: inherit;
     text-decoration: none;
  }
  .cardheader {
     height: 15%;
     font-weight: bold;
     color: white;
     text-align: center;
     border-radius: 30px 30px 0 0;
     padding: 5px 0;
  }
  .cardheader a:link, 
  .cardheader a:visited, 
  .cardheader a:hover, 
  .cardheader a:active {
     color: #ffffff;
     text-decoration: none;
  }
  .pagecardheader {
     background: rgba(128,181,51);
  }
  .extcardheader {
     background: #A8A8A8;
  }

  .pagecard:hover {
      border: 1px rgba(128,181,51,0.5) solid;
      color: rgb(62, 63, 58, 0.5)
  }
  .pagecard a:hover > .pagecardheader {
      background: rgba(128,181,51,0.8)
  }

  .extcard:hover {
      border: 1px rgb(255,0,0,0.5) solid
  }
  .extcard:hover > .cardbody b {
      color: red;
  }
  .extcard:hover > .extcardheader {
      background: rgb(255,0,0,0.8)
  }

  .card a:hover > .cardbody, .cardbody img {
      opacity: 0.8
  }
 
  .cardbody {
     padding: 2px 16px;
     white-space: normal;
     color: #4d5156;
  }
  
  .ncp_banner {
     display: flex;
     flex-direction: column;
     text-align: center;
     margin: 0 auto;
     color: #4d5156;
  }
  .ncp_img {
     width: 200px;
     border-radius: 10px;
     border: 1px #ccc solid;
  }
  .ncp_img:hover { 
     transform: scale(2);
   }

  .driver_banner, .pb_banner {
     display: flex;
     flex-direction: row;
     justify-content: center;
     column-gap: 10px;
     text-align: center;
     color: #4d5156;
  }

  .driver_img img, .pb_img img {
     height: 200px;
     border-radius: 15px;
     border: 1px #ccc solid;
  }
  .driver_img:hover { 
     transform: scale(2);
   }
  .pb_img:hover { 
     transform: scale(2.5);
   }
   
  .ncp_source {
     border-top: 1px solid #4d5156;
     padding: 5px 0 0 0;
     margin-left: 80px;
     font-size: 10px;
  }

  .banner {
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }
  .banner img {
     width: 350px;
     display: block;
     border-radius: 30px;
     border-top: 1px rgba(128,181,51) solid;
     border-left: 1px rgba(128,181,51) solid;
     border-bottom: 25px rgba(128,181,51) solid;
     border-right: 1px rgba(128,181,51) solid;
  }

  .banner a:link, 
  .banner a:visited, 
  .banner a:hover, 
  .banner a:active {
     color: #fff
  }
  .banner .pic-source {
     color: #fff;
     margin-top: -45px !important;
     text-align: center !important;
  }

  .accordion input {
      position: absolute;
      opacity: 0;
      z-index: -1;
  }
  .accordion-wrapper {
      border-radius: 8px;
      overflow: hidden;
      width: 80%;
      margin: 0 auto;
  }
  .accordion {
      width: 100%;
      color: white;
      overflow: hidden;
      margin-bottom: 16px;
      text-align: center;
  }
  .accordion-content:hover, 
  .accordion-content:focus, 
  .accordion-content:active {
      overflow-y: auto;
  }
  .accordion img {
      display: inline-flex;
      margin: 20px auto;
      padding: 10px;
      border-radius: 30px;      
      border-top: 1px rgba(128,181,51) solid;
      border-left: 1px rgba(128,181,51) solid;
      border-bottom: 25px rgba(128,181,51) solid;
      border-right: 1px rgba(128,181,51) solid;
  }
  .accordion-label {
      border-radius: 8px;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 16px;
      background: rgba(128,181,51,.8);
      font-weight: bold;
      cursor: pointer;
      font-size: 20px;
  }
  .accordion-label:hover {
      background: rgba(128,181,51,1);
  }
  .accordion-label::after {
      content: "\276F";
      width: 16px;
      height: 16px;
      text-align: center;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
  }
  .accordion-content {
      max-height: 0;
      padding: 0 16px;
      color: #4d5156;
      background: white;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
  }
  .accordion-content p {
      margin: 0;
      font-size: 18px;
      text-align: left
  }
  .accordion-content li {
      font-size: 18px;
      text-align: left
  }
  #globalmoments img, .multiple-figure {
      height: 15vh
  }
  .single-figure {
     text-align: center;
     display: flex;
     flex-direction: column;
  }
  .single-figure img {
      height: auto;
      max-height: 40vh;
      object-fit: cover;
  }
  .single-figure p {
     color: #fff;
     margin-top: -45px;
     text-align: center;
     font-size: 1.5vh;
  }

  .accordion input:checked + .accordion-label {
      background: rgba(128,181,51,1);
  }
  .accordion input:checked + .accordion-label::after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
  .accordion input:checked ~ .accordion-content {
      max-height: 100vh;
      padding: 16px;
  }

  .logo_container {
     width: 100%;
     margin: 0 auto;
     overflow-x: auto;
  }
  
  .icons, .docs {
     width: 750px;
     margin: 0px auto;
  }
  
  .icons img {
     padding: 10px;
     width: 150px;
  }
  .icons img:hover,
  .icons img:active,
  .icons img:focus {
     opacity: 0.8
  }
  
  .repo_page {
     text-align: center;
  }
  .repo_page img {
     height: 500px;
  }
  
  .docs img {
     padding: 10px;
     height: 200px;
  }
  .docs img:hover,
  .docs img:active,
  .docs img:focus {
     opacity: 0.8
  }
  .framecontainer {
     position: relative;
     margin: 0px auto;
     width: 560px;
     height: 315px;
  } 
  
  .framecontainer iframe {
     position: absolute;
     overflow-x: auto;
     border-radius: 20px;
     width: 100%;
     height: 100%;
  }

  .icons_banner {
     display: flex;
     flex-direction: column;
     flex-flow: wrap;
     text-align: center;
     margin: 0 auto;
     justify-content: center;
  }
  .icon_banner_img {
     height: 50px;
     margin: 0;
  }
  .icon_banner_img:hover {
    opacity: 0.7
  }

  .reports_banner {
     display: flex;
     flex-direction: column;
     flex-flow: wrap;
     text-align: center;
     margin: 0 auto;
     justify-content: center;
  }
  .report_banner_img {
     height: 100px;
     margin: 0 5px;
  }
  .quote_img_container {
     flex-flow: wrap;
  }
  .quote_banner_img {
     height: 60px;
  }
  .report_banner_img:hover, .quote_banner_img:hover { 
     transform: scale(3);
   }
  
  .tabset .collapse {
     overflow: hidden;
     color: #4d5156;
  }
  .tabset .collapse img {
     padding: 10px;
     float: left;
  }
  .voiceover {
     clear: both;
     display: block;
     width: 50%;
  }
  audio {
     max-height: 100%;
     max-width: 100%;
     object-fit: contain;
  }

  .table_container {
     width: 100%;
  }
  
  #bottom_icons {
     margin: 0 auto;
  }
  
  #bottom_icons a, 
  #bottom_icons a:active, 
  #bottom_icons a:focus { 
     outline: none;
     text-align: center;
  }
  
  #bottom_icons img {
     padding: 10px;
     width: 100px;
     z-index: -1;
  }
  #bottom_icons img:hover {
      opacity: 0.8
  }
  #bottom_icons h3 {
     text-align: center;
     font-size: 18px;
  }
  
  span[data-text] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  
  span[data-text]:hover {
    opacity: 0.7
  }  
  span[data-text]:hover::after {
    position: absolute;
    content: attr(data-text);
    text-transform: none;
    text-align: center;
    line-height: normal;
    top: -10%;
    left: 106%;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    width: 100px;
    padding: 3px;
    font-size: 12px;
    z-index: 10;
  }
  span[data-text]:hover::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 25%;
    left: 92%;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 14px solid black;
    z-index: 1;
  }

  .icons_banner img {
     z-index: -1;
  }
  span[nature-text]:hover {
     opacity: 0.7
  }
  span[nature-text] {
     position: relative;
     display: inline-flex;
     justify-content: center;
  }
  span[nature-text]:hover::after {
     position: absolute;
     content: attr(nature-text);
     text-transform: none;
     text-align: center;
     line-height: normal;
     top: 110%;
     left: -15%;
     color: #fff;
     background-color: black;
     border-radius: 10px;
     width: 80px;
     padding: 5px;
     font-size: 11px;
     z-index: 10;
  }
   span[nature-text]:hover::before {
     position: absolute;
     content: "";
     width: 0;
     height: 0;
     top: 75%;
     left: 40%;
     border-top: 12px solid transparent;
     border-bottom: 12px solid transparent;
     border-right: 14px solid black;
     z-index: 1;
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     transform: rotate(90deg);
  }

  .mainstream, .nbs, .importance, .cites {
     display: flex;
     align-items: center;
     gap: 20px;
  }
  
  .cites img {
     border: none;
     border-radius: 0;
  }

  .stick_image {
     flex: 0 0 auto;
     width: 110px;
  }

  .mainstream .stick_image img, 
  .nbs .stick_image img,
  .importance .stick_image img {
     width: 100px;
  }

  .quote {
     margin: 30px 0 0 0;
     color: #4d5156;
     text-align: left
  }

  .speeches .collapse {
     overflow: hidden
  }

  .speech_img {
     height: 75px;
     padding: 10px;
     float: left;
  }

  .humor-container{
    display: flex;
    column-gap: 20px;
  }
  .humor-column {
    text-align: center;
  }
  .humor-column img {
     width: 300px;
     border-radius: 30px;
     border-top: 1px rgba(128,181,51) solid;
     border-left: 1px rgba(128,181,51) solid;
     border-bottom: 25px rgba(128,181,51) solid;
     border-right: 1px rgba(128,181,51) solid;
  }
  .humor-column img:hover { 
     transform: scale(2);
   }

  .humor-column a:link, 
  .humor-column a:visited, 
  .humor-column a:hover, 
  .humor-column a:active {
     color: #fff
  }
  .humor-column .humor-source {
     color: #fff;
     margin-top: -22px !important;
     text-align: center !important;
  }

  .footer {
     bottom: 0;
     width: 100%;
     height: 140px;
     margin: 0 0 -40px 0;
     color: #ffffff;
     background-color: #808080;
     border-color: #93c54b;
     overflow-y: auto;
  }

  .footer_box {
     width: 80%;
     height: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
  }
  .footer_column {
     font: normal italic 14px Arial;
     display: inline-block;
     width: fit-content;
     min-width: 15%;
     padding: 25px 20px 20px 20px;
  }
  
  .footer_box a, 
  .footer_box a:hover, 
  .footer_box a:focus, 
  .footer_box a:active {
     color: #ffffff;
  }

  #footer_label {
     padding: 5px 0 0 0;
     font: 16px Arial;
  }
  
  @media screen and (min-width: 750px) and (pointer: coarse), 
         screen and (min-width: 750px) and (hover: none)  {
    #bottom_icons img {
       z-index: -1;
    }
    
    span[data-text] {
      position: relative;
      display: inline-flex;
      justify-content: center;
    }
    
    span[data-text]:focus {
      opacity: 0.7
    }
    
    span[data-text]:focus::after {
      position: absolute;
      content: attr(data-text);
      text-transform: none;
      text-align: center;
      line-height: normal;
      top: -10%;
      left: 116%;
      color: #fff;
      background-color: black;
      border-radius: 10px;
      width: 80px;
      padding: 3px;
      font-size: 10px;
      z-index: 10;
    }    
    span[data-text]:focus::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 25%;
      left: 97%;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 14px solid black;
      z-index: 1;
    }

    .icons_banner img {
       z-index: -1;
    }
    span[nature-text]:focus {
      opacity: 0.7
    }
    span[nature-text] {
      position: relative;
      display: inline-flex;
      justify-content: center;
    }
    span[nature-text]:focus::after {
      position: absolute;
      content: attr(nature-text);
      text-transform: none;
      text-align: center;
      line-height: normal;
      top: 110%;
      left: -15%;
      color: #fff;
      background-color: black;
      border-radius: 10px;
      width: 80px;
      padding: 4px;
      font-size: 10px;
      z-index: 10;
    }
    span[nature-text]:focus::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 75%;
      left: 40%;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 14px solid black;
      z-index: 1;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  
  @media screen and (max-width: 750px) {
      .accordion-content img,
      .table_container img,
      .footer_column img {
         height: auto;
      }

      .report_img {
         height: 150px;
      }
      .voiceover {
          clear: both;
          display: block;
          width: 100%;
      }
      .logo {
         float: right;
         margin: 0 0 0 0;
      }
      
      .logo img {
         clear: both;
         text-align: right;
         position: relative;
         z-index: -1;
         width: 40vw;
      }
      
      .cards {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0 auto;
      }
      .pagecard { 
          width: 50%;
          max-width: 200px;
          height: 200px;
          margin: 0 0 20px 0;
      }
      .extcard { 
          width: 60%;
          max-width: 220px;
          height: 420px;
          margin: 0 0 20px 0;
      }
      .extcard img {
          height: 150px
      }

      .ncp_source {
         padding: 5px 0 0 0;
         margin: 0 auto;
         font-size: 10px;
         position: relative;
         border: none;
      }
      .ncp_source:after {
         content: '';
         position: absolute;
         top: 0px;
         left: 0px;
         width: 100%;
         border-top: 1px solid #4d5156;
      }

      .ncp_img:hover { 
         transform: none;
      }
      .driver_banner, .pb_banner {
          display: block;
          width: 100%;
          height: 100%;
      }
      .driver_img, .pb_img {
          margin: 10px 0;
      }
      .driver_img:hover, .pb_img:hover { 
          transform: none;
      }

     .mainstream .stick_image, 
     .nbs .stick_image,
     .importance .stick_image {
          flex: 0 0 auto;
          width: 85px
      }
      .stick_image h4, blockquote, .accordion-content {
          font-size: 16px
      }

      .mainstream .stick_image img, 
      .nbs .stick_image img,
      .importance .stick_image img {
          width: 80px
      }
      .cites {
          flex-direction: column;
      }
      .cites .quote {
          margin: 0 0 0 0
      }

      #globalmoments img, .multiple-figure {
          max-height: 100px
      }

      .report_banner_img {
          height: 80px;
          margin: 0 5px;
      }

      .quote_banner_img {
          height: 30px;
      }

      .icon_banner_img {
         height: 30px;
         margin: 0;
      }

      #bottom_icons img:hover,
      #bottom_icons img:active,
      #bottom_icons img:focus {
         opacity: 0.8
      }

      #bottom_icons tr > *{
        display: block;
      }
      #bottom_icons tr {
        display: table-cell;
        text-align: center
      }
      #bottom_icons h3 {
          font-size: 2vh;
      }
      #bottom_icons img {
         padding: 10px;
         height: 75px;
         width: auto;
         z-index: -1;
      }

      .icons tr,
      .docs tr {
          display: block;
          margin-bottom: .625em;
      }
      .icons td,
      .docs td {
          display: block;
          text-align: center;
      }
      .icons td.img,
      .docs td.img {
          width: 150px;
      }
      .icons td::before,
      .docs td::before {
         float: left;
         font-weight: bold;
         text-transform: uppercase;
      }
      .icons, .docs {
         width: 200px;
      }

      .framecontainer {
         width: auto;
         object-fit: cover
      }

      .humor-container{
         display: flex;
         flex-direction: column;
      }
      .humor-column img {
         width: auto;
      }
     .humor-column img:hover { 
         transform: none;
      }

      .footer {
         height: auto;
         margin: 0 0 -40px 0;
         min-height: 100% !important;
      }
      .footer_box {
         display: block;
         padding: 0 0 10px 0;
      }
      .footer_column {
          width: 100%;
          padding: 15px 0 0 20px;
      }
  }

  @media screen and (max-width: 750px) and (pointer: coarse), 
         screen and (max-width: 750px) and (hover: none) {
    span[data-text] {
      position: relative;
      display: inline-flex;
      justify-content: center;
    }
    
    tr:nth-child(1) td span[data-text]:focus,
    div span[data-text]:focus {
      opacity: 0.7
    }
    
    tr:nth-child(1) td span[data-text]:focus::after {
      position: absolute;
      content: attr(data-text);
      text-transform: none;
      text-align: center;
      line-height: normal;
      top: 10%;
      left: -80%;
      color: #fff;
      background-color: black;
      border-radius: 10px;
      width: 80px;
      padding: 3px;
      font-size: 10px;
    }
    
    tr:nth-child(1) td span[data-text]:focus::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 25%;
      left: 5%;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid transparent;
      border-left: 14px solid black;
    }
    
    tr:nth-child(2) td span[data-text]:focus {
      opacity: 0.7
    }
    
    tr:nth-child(2) td span[data-text]:focus::after,
    div span[data-text]:focus::after {
      position: absolute;
      content: attr(data-text);
      text-transform: none;
      text-align: center;
      line-height: normal;
      top: 10%;
      left: 100%;
      color: #fff;
      background-color: black;
      border-radius: 10px;
      width: 80px;
      padding: 3px;
      font-size: 10px;
    }
    
    tr:nth-child(2) td span[data-text]:focus::before,
    div span[data-text]:focus::before  {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 25%;
      left: 87%;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 14px solid black;
    }

    .icons_banner img {
       z-index: -1;
    }
    span[nature-text]:focus {
      opacity: 0.7
    }
    span[nature-text] {
      position: relative;
      display: inline-flex;
      justify-content: center;
    }
    span[nature-text]:focus::after {
      position: absolute;
      content: attr(nature-text);
      text-transform: none;
      text-align: center;
      line-height: normal;
      top: 140%;
      left: -35%;
      color: #fff;
      background-color: black;
      border-radius: 10px;
      width: 80px;
      padding: 4px;
      font-size: 10px;
      z-index: 10;
    }
    span[nature-text]:focus::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 80%;
      left: 40%;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 14px solid black;
      z-index: 1;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }


